.con-bs {
  width: 80%;
  margin-left: 150px;
  background-color: white;
  margin-top: 80px;
}

.imagebusiness img {
  width: 220px !important;
  /* margin-right: 10000px; */
}

h3,
h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}
hr {
  width: 100% !important;
  position: relative;
  right: 126px !important;
  left: -27px !important;
}
