/* body { */
/* background-color: #f5f5f5; */
/* background-color: #fcdd9b; */
/* } */
/* ::placeholder {
  color: #0784f9;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
} */
