.navbar {
  background-color: #092c52;
  height: 91px;
}

.img {
  height: 53px;
  width: 200px;
  padding-left: 15px;
  margin-bottom: 7px;
}

.btnkategori {
  background: #092c52;
  margin-left: 30px;
  margin-bottom: 12px;
  border: none;
  font-size: 16px;
}
.search {
  margin-left: 30px;
  width: 532px;
  margin-bottom: 15px;
}

.nav2 {
  background-color: #092c52;
  height: 30px;
}

.garis {
  border-bottom: 1px solid #1f1e1e;
}
